.header,.hero,.bar,.footer{
	background-color:pink;
	margin-bottom: 10px;
}

.box{
	margin: 10px 0;
	min-height: 80px;
	background-color:lightblue;
    font-size: 30px;
}
.red{
	background-color: red;
}